<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="B2BOrderApproval" frontName="approval">
            <module name="MagentoEse_B2BOrderApproval" />
        </route>
    </router>
</config>